p{
  border: 2px solid red;
  margin: 40px;
 padding: 30px;
height: 100px;        
}
actual height(top + bottom //vertical)=height of an element + margin(top+bottom value)
+paddind(top+bottom value)+border(top+bottom value)

100px+80px+60px+4px==244px