*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    border: 2px solid white;
    list-style: none;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
}
#nav2{
    height: 70px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contents{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
#logo>img{
    position: absolute;
    top: 50px;
    left: 30px;
}
header{
    position: sticky;
    top: 0;
}
body{
    background-color: black;
}
    #bc-img{
   height: 600px;
    width: 50%;
    background-image: url("./logo");
    background-repeat: no-repeat;
    background-size: 80% 600px;
    position: absolute;
    left:900px;
}
#icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
#main1{
    height: 400px;
    width: 100%;
    background-color: aqua;
    position: absolute;
    top: 700px;
}
#main1>h1{
    position: absolute;
    top: 80;
    left: 100px;
}
#contents1>li>a{
    color: black;
}
#contents1>li{
    list-style: none;
}
#contents1{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 100px;
    width: 100%;
}
#img1{
    display: flex;
    justify-content: space-around;
    top: 100px;
    position: absolute;
    width: 100%;
}