*{
    margin: 0;
    border: 0;
    background-color: aquamarine;

}
#parent{
    height: 70vh;
    width: 80vw;
    background-color: hotpink;
    box-shadow: 2px 2px 2px black;
    margin: 100px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    position: relative;
}
#child1{
    height: 10vh;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 1; */
}
#child2{
    height: 10vh;
    background-color: yellow;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 20; */
}
#child3{
    height: 10vh;
    width: 100px;
    background-color: brown;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 21;
}
#child4{
    height: 10vh;
    width: 100px;
    background-color: skyblue;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 45;
}
