*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
@media screen and (min-width:320px) and (max-width:480px){
    body{
        background-color: goldenrod;
    }
    
}

@media screen and (orientation:portrait) {
    body{
        background-color: goldenrod;
    }
    
}
@media screen and (orientation:landscape) {
    body{
        background-color: hotpink;
    }
    
}